<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width">
  <div class="app-content">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../styles/home.css">
    <title> About Us</title>
</head>

<body>
  <div class="app-head">
    <h1 class="app-content-headerText">Know Us More !</h1>
    <button class="mode-switch" title="Switch Theme">
      <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
        stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
        <defs></defs>
        <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
      </svg>
    </button>
    <button class="app-content-headButton"> <a href="home.html" style="text-decoration: none; color: inherit;">Go
        Back</a></button>
  </div>
  <div class="app-contents">
    <section id="about">
      <h2>About Us</h2>
      <p> We believe in empowering individuals with control over their healthcare journey. Our platform serves as a
        secure haven for individuals to access, manage, and share their medical records effortlessly. With a mission to
        enhance patient-doctor communication and prevent medical errors, we provide a comprehensive solution for
        healthcare record management.</p>
    </section>
    </br>
    <section id="our-mission">
      <h2>Our Mission</h2>
      <p> We believe in empowering individuals with control over their healthcare journey. Our platform serves as a
        secure haven for individuals to access, manage, and share their medical records effortlessly. With a mission to
        enhance patient-doctor communication and prevent medical errors, we provide a comprehensive solution for
        healthcare record management.</p>
    </section>
    </br>
    <section id="how-we-work">
      <h2>How We Work</h2>
      <p> We believe in empowering individuals with control over their healthcare journey. Our platform serves as a
        secure haven for individuals to access, manage, and share their medical records effortlessly. With a mission to
        enhance patient-doctor communication and prevent medical errors, we provide a comprehensive solution for
        healthcare record management.</p>
    </section>
    </br>
    <section id="security">
      <h2>Security and Privacy</h2>
      <p> We believe in empowering individuals with control over their healthcare journey. Our platform serves as a
        secure haven for individuals to access, manage, and share their medical records effortlessly. With a mission to
        enhance patient-doctor communication and prevent medical errors, we provide a comprehensive solution for
        healthcare record management.</p>
    </section>
    </br>
    <section id="join">
      <h2>Join Us!</h2>
      <p> We believe in empowering individuals with control over their healthcare journey. Our platform serves as a
        secure haven for individuals to access, manage, and share their medical records effortlessly. With a mission to
        enhance patient-doctor communication and prevent medical errors, we provide a comprehensive solution for
        healthcare record management.</p>
    </section>
    </br>

</body>

</html>